/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes

/app/etc/config.php
/app/etc/env.php

#/app/code/Magento
#/app/design/*/Magento
#/app/etc
#/app/i18n/magento
#/app/*.*

#/bin

/dev/shell

/dev/tests/*/framework
/dev/tests/*/testsuite/Magento
/dev/tests/*/tmp
/dev/tests/*/etc
/dev/tests/*/*.*
/dev/tests/*.*
/dev/tests/api-functional/config
/dev/tests/api-functional/_files/Magento
/dev/tests/js/JsTestDriver/framework
/dev/tests/js/JsTestDriver/testsuite/lib
/dev/tests/js/JsTestDriver/testsuite/mage
/dev/tests/js/JsTestDriver/*.*
/dev/tests/js/jasmine/assets
/dev/tests/js/jasmine/spec_runner
/dev/tests/js/jasmine/tests/app/code/Magento
/dev/tests/js/jasmine/tests/lib/mage
/dev/tests/js/jasmine/*.*
/dev/tests/performance
/dev/tests/functional/lib/Magento
/dev/tests/functional/tests/app/Magento
/dev/tests/functional/testsuites/Magento
/dev/tests/functional/utils

/dev/tools/Magento
/dev/tools/grunt
/dev/tools/*.*

/dev/*.*

/pub/media/*.*
!/pub/media/.htaccess
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/favicon/*
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/logo/*
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/static/*
!/pub/static/.htaccess
/var
!/var/.htaccess
/generated/*
!/generated/.htaccess


/de/pub/media/*.*
!/de/pub/media/.htaccess
/de/pub/media/catalog/*
!/de/pub/media/catalog/.htaccess
/de/pub/media/customer/*
!/de/pub/media/customer/.htaccess
/de/pub/media/downloadable/*
!/de/pub/media/downloadable/.htaccess
/de/pub/media/favicon/*
/de/pub/media/import/*
!/de/pub/media/import/.htaccess
/de/pub/media/logo/*
/de/pub/media/theme/*
/de/pub/media/theme_customization/*
!/de/pub/media/theme_customization/.htaccess
/de/pub/media/wysiwyg/*
!/de/pub/media/wysiwyg/.htaccess
/de/pub/media/tmp/*
!/de/pub/media/tmp/.htaccess
/de/pub/media/captcha/*
/de/pub/static/*
!/de/pub/static/.htaccess
/de/var
!/de/var/.htaccess


/es/pub/media/*.*
!/es/pub/media/.htaccess
/es/pub/media/catalog/*
!/es/pub/media/catalog/.htaccess
/es/pub/media/customer/*
!/es/pub/media/customer/.htaccess
/es/pub/media/downloadable/*
!/es/pub/media/downloadable/.htaccess
/es/pub/media/favicon/*
/es/pub/media/import/*
!/es/pub/media/import/.htaccess
/es/pub/media/logo/*
/es/pub/media/theme/*
/es/pub/media/theme_customization/*
!/es/pub/media/theme_customization/.htaccess
/es/pub/media/wysiwyg/*
!/es/pub/media/wysiwyg/.htaccess
/es/pub/media/tmp/*
!/es/pub/media/tmp/.htaccess
/es/pub/media/captcha/*
/es/pub/static/*
!/es/pub/static/.htaccess
/es/var
!/es/var/.htaccess


/fr/pub/media/*.*
!/fr/pub/media/.htaccess
/fr/pub/media/catalog/*
!/fr/pub/media/catalog/.htaccess
/fr/pub/media/customer/*
!/fr/pub/media/customer/.htaccess
/fr/pub/media/downloadable/*
!/fr/pub/media/downloadable/.htaccess
/fr/pub/media/favicon/*
/fr/pub/media/import/*
!/fr/pub/media/import/.htaccess
/fr/pub/media/logo/*
/fr/pub/media/theme/*
/fr/pub/media/theme_customization/*
!/fr/pub/media/theme_customization/.htaccess
/fr/pub/media/wysiwyg/*
!/fr/pub/media/wysiwyg/.htaccess
/fr/pub/media/tmp/*
!/fr/pub/media/tmp/.htaccess
/fr/pub/media/captcha/*
/fr/pub/static/*
!/fr/pub/static/.htaccess
/fr/var
!/fr/var/.htaccess


/it/pub/media/*.*
!/it/pub/media/.htaccess
/it/pub/media/catalog/*
!/it/pub/media/catalog/.htaccess
/it/pub/media/customer/*
!/it/pub/media/customer/.htaccess
/it/pub/media/downloadable/*
!/it/pub/media/downloadable/.htaccess
/it/pub/media/favicon/*
/it/pub/media/import/*
!/it/pub/media/import/.htaccess
/it/pub/media/logo/*
/it/pub/media/theme/*
/it/pub/media/theme_customization/*
!/it/pub/media/theme_customization/.htaccess
/it/pub/media/wysiwyg/*
!/it/pub/media/wysiwyg/.htaccess
/it/pub/media/tmp/*
!/it/pub/media/tmp/.htaccess
/it/pub/media/captcha/*
/it/pub/static/*
!/it/pub/static/.htaccess
/it/var
!/it/var/.htaccess

/pt/pub/media/*.*
!/pt/pub/media/.htaccess
/pt/pub/media/catalog/*
!/pt/pub/media/catalog/.htaccess
/pt/pub/media/customer/*
!/pt/pub/media/customer/.htaccess
/pt/pub/media/downloadable/*
!/pt/pub/media/downloadable/.htaccess
/pt/pub/media/favicon/*
/pt/pub/media/import/*
!/pt/pub/media/import/.htaccess
/pt/pub/media/logo/*
/pt/pub/media/theme/*
/pt/pub/media/theme_customization/*
!/pt/pub/media/theme_customization/.htaccess
/pt/pub/media/wysiwyg/*
!/pt/pub/media/wysiwyg/.htaccess
/pt/pub/media/tmp/*
!/pt/pub/media/tmp/.htaccess
/pt/pub/media/captcha/*
/pt/pub/static/*
!/pt/pub/static/.htaccess
/pt/var
!/pt/var/.htaccess

!/composer.json
!/composer.lock
!/README.md

/wp/wp-config.php