<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- <add id="Cibilia_Redemption::redemption" title="Redemption" module="Cibilia_Redemption" sortOrder="30" resource="Cibilia_Redemption::redemption"/> -->
        <!-- <add id="Cibilia_Redemption::redemption_manage" title="Cibilian Redemption" module="Cibilia_Redemption" sortOrder="30" parent="Cibilia_Idproofs::idproof" action="redemption/index/" resource="Cibilia_Redemption::manage"/> -->
    </menu>
</config>
