<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="StageBit_CustomCode" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Customer"/>
            <module name="Unirgy_Dropship"/>
            <module name="Unirgy_DropshipMicrositePro"/>
            <module name="Webkul_CustomRegistration"/>
        </sequence>
    </module>
</config>