<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Cibilia_Adminhtml::admin">
                <resource id="Cibilia_Redemption::redemption" title="Redemption" sortOrder="40">
                    <resource id="Cibilia_Redemption::manage" title="Redemption Module" sortOrder="10">
						<resource id="Cibilia_Redemption::save" title="Save Redemption" sortOrder="10" />
                        <resource id="Cibilia_Redemption::news_delete" title="Delete Redemption" sortOrder="20" />
					</resource>
                </resource>
                <resource id="Cibilia_Adminhtml::stores">
                    <resource id="Cibilia_Adminhtml::stores_settings">
                        <resource id="Cibilia_Adminhtml::config">
                            <resource id="Cibilia_Redemption::config_redemption" title="Redemption Section" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
