<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Cibilia\CibilianRedemption\Controller\AbstractController\CibilianRedemptionLoaderInterface" type="\Cibilia\CibilianRedemption\Controller\AbstractController\CibilianRedemptionLoader" />
</config>
